<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macrobioticasaludnatural" >

    <uses-permission  android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BusquedaProductosActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.macrobioticasaludnatural.BusquedaProductos" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".LoggedInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.macrobioticasaludnatural.LoggedInMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ConsultaMedicaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.macrobioticasaludnatural.ConsultaMedica" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
        android:name=".ReservacionCitaActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="com.macrobioticasaludnatural.ReservacionCita" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
            android:name=".DiagnosticoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.macrobioticasaludnatural.Diagnostico" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetalleProductoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.macrobioticasaludnatural.DetalleProducto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
